[Desktop Entry]
Encoding=UTF-8
Name=Gap
Comment=Groups, Algorithms, Programming
Comment[pl]=Grupy, Algorytmy, Programowanie
Icon=
Exec=gap
Terminal=true
Type=Application
# vi: encoding=utf-8
