[Desktop Entry]
Name=Gap
Comment=Groups, Algorithms, Programming
Comment[pl]=Grupy, Algorytmy, Programowanie
Icon=
Exec=gap
Terminal=true
Type=Application
Categories=Education;Science;Math;
# vi: encoding=utf-8
